In [1]:
from Bisectional_and_False_pos import *
from fixed_point_and_Newton_Rhapson import *
from numerical_differentiation import *
from secant_method import *
from matrices_1 import *
from chapter_21 import *
from chapter_25 import *
from chapter_18 import *

In [6]:
def f(x):
    return 100 * (x/0.7)**0.485*((1-x)/0.3)**-1.485 - 40

In [9]:
bisectional_method(f,0.4,0.6,10)

,iteration,xl,xu,xr,F(xl),F(xu),F(xr),epsilon_a
0,1.0,0.400000,0.600000,0.500000,-12.766905,20.533639,-0.218376,0.000000
1,2.0,0.500000,0.600000,0.550000,-0.218376,20.533639,8.720062,9.090909
2,3.0,0.500000,0.550000,0.525000,-0.218376,8.720062,3.958186,4.761905
3,4.0,0.500000,0.525000,0.512500,-0.218376,3.958186,1.803412,2.439024
4,5.0,0.500000,0.512500,0.506250,-0.218376,1.803412,0.776646,1.234568
5,6.0,0.500000,0.506250,0.503125,-0.218376,0.776646,0.275256,0.621118
6,7.0,0.500000,0.503125,0.501563,-0.218376,0.275256,0.027481,0.311526
7,8.0,0.500000,0.501563,0.500781,-0.218376,0.027481,-0.095686,0.156006
8,9.0,0.500781,0.501563,0.501172,-0.095686,0.027481,-0.034162,0.077942
9,10.0,0.501172,0.501563,0.501367,-0.034162,0.027481,-0.003355,0.038956

In [18]:
newton_raphson(f,4.5,10)

   iteration                xi       f(xi)  f'(xi)             epsilon_a
0          1               4.5      6.1250  15.750                     0
1          2  4.11111116409302      1.0754  10.370      2.58780119447046
2          3  4.00740742683411    0.066996  9.0891     0.184276331256028
3          4  4.00003630667925  0.00032677  9.0004  0.000907643697944553
4          5  4.00000000093132   8.3819e-9  9.0000   2.32830643653870e-8
5          6  4.00000000000000           0  9.0000                     0
6          7  4.00000000000000           0  9.0000                     0
7          8  4.00000000000000           0  9.0000                     0
8          9  4.00000000000000           0  9.0000                     0
9         10  4.00000000000000           0  9.0000                     0